@charset "UTF-8";

/* ナビゲーションバー */
.navbar {
    background-color: rgb(253, 250, 247);
    opacity: 0.9;
}

/* カルーセル */
.carousel-inner {
    max-height: 300px;
}

body {
    padding-top: 5rem;
}

/* メインコンテンツ */
h2 {
    font-size: 1.2rem;
    color: #555555;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    border-bottom: solid 1.5px #666666;
}

.list-group-item {
    border: dashed 1px #777777;
}
.list-group > a:first-child {
    border-top: none;
}
.list-group > a:last-child {
    border-bottom: none;
}

/* いいねボタン */
.like_toggle {
    color: gray;
    cursor: pointer;
    margin-left: 10px;
}
.liked {
    color: pink;
}